body {
  background-color: white;
}

.heading-1 {
  font-size: 48px;
  margin-bottom: 12px;
  text-align: center;
  color: black;
}

* {
  box-sizing: border-box;
}

input[type=text] {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  color: black;
  resize: vertical;
  border: none;
}

textarea {
  width: 100%;
  min-height: 100px;
  color: black;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  resize: vertical;
}

label {
  padding-left: 12px;
  padding-right: 12px;

}

button[type=submit] {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  resize: vertical;
  cursor: pointer;  
  float: right;
}

button[type=submit]:hover {
  background-color: darkslategrey;
}

.container {
  min-height: 100vh;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.content {
  width:100%;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: whitesmoke;
}

.col-25 {
  font-weight: bold;
  color: black;
  width: 25%; 
  float: left;
}

.col-75 {
  width: 75%;
  margin-bottom: 10px;
  float: left;
}

.desc {
  text-align: center;
  max-width: 800px;
  margin-bottom: 30px;
  margin-left: inherit;
  margin-right: inherit;
}

.answer {
  margin-left: 12px;
}

.bar-60-up {
  height: 60px;
  max-width: 800px;
  margin: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: black;
  color: white;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

.bar-60-down {
  height: 60px;
  max-width: 800px;
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  resize: horizontal;
}

.title {
  width: 25%;
  font-weight: bold;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-menu {
  width: 75%;
  float: left;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}


.header-menu {
  margin-top: 20px;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  opacity: 80%;
}

.header-menu:hover {
  opacity: 100%;
}

/* Clear floats after the columns */
.row:after {  
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit], textarea, button{
    width: 100%;
    margin-top: 10px;
  }
}

/* REVEAL ANIMATION */

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/* Scroll Mouse Animation */
.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 125px;
  margin-bottom: 10px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.one
{
  margin-top: 1px;
}

.one, .two, .three
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.one
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.two
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.three
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid black;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: black;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid black;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/* Loading Animation */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}